// This is an empty scss file for your custom styles - Please add your super duper awesome mega design styles here

//Body
body {
  font-family: segoe ui, Arial;
}

//Nav Bar
.navbar {
  height: 80px !important;
  border-bottom: 1px solid;
  border-color: #ccc;
}

.header-logo-img {
  margin-left: 2%;
}

.site-footer {
  min-height: 460px;
  background: black;
}

ul#main-menu li {
  margin-left: 64px !important;
}

ul#main-menu {
  padding-left: 16px !important;
}

.navbar-nav a {
  color: #333333 !important;
}

.navbar-nav .dropdown-menu {
  margin: 0 !important;
}

.navbar-nav .menu-item-has-children:hover .dropdown-menu {
  display: block;
}
//Max Mega Menu plugin
#mega-menu-wrap-primary {
  width: 100%;
}
.mega-sub-menu{
  width: 100% !important;
}
//Footer
.footer-wrapper {
  padding-top: 30px;
}

ul.menu {
  list-style-type: none;
  margin-left: -40px;
}

.footer-top {
  padding: 64px 8% 64px 8%;
}

.footer-top .sidebar-footer-right {
  padding-left: 64px;
}

.footer-bottom {
  border-top: 1px solid #3c3c42;
  padding: 32px 92px 0 92px;
}

.footer-top a {
  color: white !important;
}

.footer-bottom a {
  color: #606060 !important;
}

.footer-top .menu-item {
  font-size: 12px;
  margin-bottom: 2px;
}

.wp-block-search__button {
  background: #f7f7f7;
}

#footer-top-right {

}

.copyright-text {
  color: #606060;
  margin-top: 0;
  text-align: left;
}

.copyright-a {
  color: #606060;
  margin-top: 16px;
  text-align: left;
}

//Grid Item
.home .news-grid .wp-block-post-template {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-gap: 20px;
}

@media (min-width: 1300px) {
  .container, .container-lg, .container-md, .container-sm, .container-xl {
	max-width: 80%;
  }
}
.news-grid .wp-block-post{
  box-shadow: 2px 2px 8px #BEBEBE;
}
.news-grid .wp-block-post-title{
  padding: 8px 16px;
  background-color: white;
}
.news-grid .wp-block-image{
  padding: 4px 16px;
  margin: 0;
}
.news-grid .wp-block-post-title a{
  text-decoration: none;
  color: #333333;
}
.news-grid .wp-block-group__inner-container{
  width: 100% !important;
  display: inline-flex;
  justify-content: space-between;
}
.news-grid .wp-block-post-featured-image {
  margin: 0;
}
//Slider
.wp-block-image img {
  width: 100% !important;
}


